<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705354476301-jk0s5ldcp2krm1q4epir0ekvcl5oqi2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705354476301-jk0s5ldcp2krm1q4epir0ekvcl5oqi2p</string>
	<key>API_KEY</key>
	<string>AIzaSyATkYDd21MwGEpu368WpP5IaIKX7PgSsnY</string>
	<key>GCM_SENDER_ID</key>
	<string>705354476301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Evel-Devel.Swift-Quiz</string>
	<key>PROJECT_ID</key>
	<string>swift-quiz-8ed87</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-quiz-8ed87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705354476301:ios:33d59a8f7c629d8d465e44</string>
	<key>DATABASE_URL</key>
	<string>https://swift-quiz-8ed87.firebaseio.com</string>
</dict>
</plist>
